.flex-end{
    display: flex;
    justify-content: flex-end;
}
.mr{
    margin-right: 70px;
}

.wide{
    width: 100% !important;
    height: 50px !important;
    margin-right: 31px;
}

.icon-customize-copy {
    font-size: 12px;
    color: #4285F4;
    margin-left: 8px;
    cursor: pointer;
}

.last-item {
    margin-bottom: 15px;
}

.not-copy {
    margin-right: 17px;
}